body {
    margin: 0;
    background-color: #EFEFEF;
    color: #707070;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
    line-height: 1.5;
}

header {
    padding: 30px 0;
}

footer {
    font-size: 12px;
}

hr.separator {
    width: 10px;
    margin: 30px auto;
    border: solid 1px #C9C9C9;
}

a:link {
    color: #707070;
}

a:visited {
    color: #707070;
}

a:hover {
    color: #707070;
}

a:active {
    color: #707070;
}

div.profile {
    min-height: calc(100vh - 42px);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.profile-body {
    width: 60vw;
    max-width: 400px;
    min-width: 300px;
}

.author {
    color: #C39F59;
}

.date {
    color: #869D38;
}

div.avatar {
    position: relative;
    height: 100px;
}

div.avatar img {
    position: absolute;
    width: 100px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

div.avatar img.avatar-mask {
    clip-path: circle(48px at center);
    -webkit-clip-path: circle(48px at center);
}

div.main {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 202px);
    min-width: 300px;
    margin: 0 10px;
}

div.markdown-body {
    width: 90vw;
    max-width: 800px;
    min-width: 300px;
    margin: 40px auto;
    text-align: left;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin: 20px auto;
    padding: 0;
    list-style: none;
}

div.searchBoxContainer {
    position: relative;
    width: 300px;
    height: 30px;
    margin: 10px auto 50px auto;
}

input.searchBox {
    position: absolute;
    width: 100%;
    padding: 0 35px 0 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    outline: 0;
    font-size: 15px;
    color: #707070;
    background-color:#f6f6f6;
    border: solid 1px #c9c9c9;
    box-sizing: border-box;
}

input.searchBox::placeholder {
    color: #c9c9c9;
}

div.searchResults {
    display: none;
    position: absolute;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    top: 210px;
    left: 0;
    right: 0;
    padding: 5px;
    background-color:#f6f6f6;
    border: solid 1px #c9c9c9;
    border-radius: 5px;
    text-align: left;
    box-sizing: border-box;
}

div.searchResultPage {
    padding: 20px
}

div.searchResultTitle {
    font-weight: bold;
    margin: 5px 0;
}

div.searchResultBody {
    font-size: 14px;
}

img.searchBoxIcon {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 5px;
    right: 10px;
}

mark {
    background-color: #dddfdf;
}
