<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <div id="profileContainer">
      <div id="profile">
        {{- partial "header.html" . -}}
        <!-- description -->
        <p>
          {{ .Site.Params.description | safeHTML }}
        </p>
        <!-- navigation -->
        <nav>
          <ul>
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}" aria-label="{{ .Identifier }}">{{ .Pre }}<br>{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </nav>
      </div>
    </div>
    {{- partial "footer.html" . -}}
  </body>
</html>
